@import "https://unpkg.com/open-props@1/open-props.min.css";
@import "https://unpkg.com/balloon-css@1/balloon.min.css";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  width: 100vw;
  background-color: var(--gray-1);

  > * {
    padding: var(--size-3);
  }

  a {
    &[aria-current="true"] {
      background-color: var(--blue-1);
    }

    &:hover {
      background-color: var(--gray-2);

      &[aria-current="true"] {
        background-color: var(--blue-2);
      }
    }

    &:active {
      background-color: var(--gray-3);

      &[aria-current="true"] {
        background-color: var(--blue-3);
      }
    }
  }
}

main {
  margin-block: var(--size-6);
  margin-inline: clamp(0px, (100vw - 50rem) / 2, 4rem);
  padding-inline: var(--size-3);
}

table {
  display: grid;
  column-gap: 2rem;

  &.jobs {
    grid-template-columns: auto 1fr auto;
  }

  &.overview {
    grid-template-columns: auto 1fr;
  }

  &.runs {
    grid-template-columns: 2fr 1fr auto auto auto;
  }
}

thead, tbody, tr {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}

th {
  /* User agent overrides */
  font-weight: normal;
  text-align: left;
}

th {
  padding-block: var(--size-3);

  thead & {
    color: hsl(240 0% 45%);
  }

  tbody &[scope="row"] {
    font-weight: bold;
  }
}

table.interactive tr {
  border-bottom: var(--border-size-1) solid var(--gray-3);

  &:hover {
    background-color: var(--gray-0);
  }
}

td {
  word-break: break-all;
  word-wrap: break-word;
}

td:not(:has(a)) {
  padding-block: var(--size-3);
}

td a {
  display: block;
  padding-block: var(--size-3);
}

a {
  /* User agent overrides */
  color: unset;
  text-decoration: none;

  tr:has(a:hover) & {
    text-decoration: underline;
  }
}

.name,
.command,
.shell,
.schedule,
.working-dir,
.log-dir {
  font-family: "Courier New", Courier, monospace;
}

.status-text {
  color: var(--red-7);
  &.running {
    color: var(--green-7);
  }
}

.secondary {
  color: var(--gray-7);
}

.timestamp {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}

.late {
  color: var(--gray-7);
  font-size: var(--font-size-0);
}

.status-code {
  &.running {
    color: var(--yellow-7);
  }

  &.success {
    color: var(--green-7);
  }

  &.failure {
    color: var(--red-7);
  }
}
