@import "https://unpkg.com/open-props@1/open-props.min.css";
@import "https://unpkg.com/balloon-css@1/balloon.min.css";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  width: 100vw;
  background-color: var(--gray-1);

  > * {
    padding: var(--size-3);
  }

  a {
    &[aria-current="true"] {
      background-color: var(--blue-1);
    }

    &:hover {
      background-color: var(--gray-2);

      &[aria-current="true"] {
        background-color: var(--blue-2);
      }
    }

    &:active {
      background-color: var(--gray-3);

      &[aria-current="true"] {
        background-color: var(--blue-3);
      }
    }
  }
}

main {
  margin-block: var(--size-6);
  margin-inline: clamp(0px, (100vw - 50rem) / 2, 4rem);

  > *:not(table) {
    padding-inline: var(--size-3);
  }
}

table {
  white-space: nowrap;
}

table.primary {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: var(--border-size-1) solid var(--gray-3);

    &:hover {
      background-color: var(--gray-0);
    }
  }
}

thead {
  text-align: left;

  th {
    color: hsl(240 0% 45%);
    font-weight: normal;
  }
}

th {
  padding: var(--size-3);

  &[scope="row"] {
    text-align: left;
  }
}

td {
  text-wrap: nowrap;
}

tr a {
  height: 1rem;
}

td:not(:has(a)) {
  padding: var(--size-3);
}

td a {
  display: block;
  padding: var(--size-3);
}

a {
  color: unset;
  text-decoration: none;

  tr:has(a:hover) & {
    text-decoration: underline;
  }
}

.name,
.command,
.schedule,
.working-dir,
.log-dir {
  font-family: "Courier New", Courier, monospace;
}

.status-text {
  color: var(--red-7);
  &.running {
    color: var(--green-7);
  }
}

.secondary {
  color: var(--gray-7);
}

.timestamp {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}

.late {
  color: var(--gray-7);
  font-size: var(--font-size-0);
}

.status-code {
  &.running {
    color: var(--yellow-7);
  }

  &.success {
    color: var(--green-7);
  }

  &.failure {
    color: var(--red-7);
  }
}
