<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>chron Jobs</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <nav>
      <span>chron</span>
      <a aria-current="true" href="/">Jobs</a>
    </nav>
    <main>
      <h1>Jobs</h1>
      <table class="interactive jobs">
        <thead>
          <tr>
            <th>Name</th>
            <th>Command</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <td class="name">
              <a href="/job/{{ job.name }}">{{ job.name }}</a>
            </td>
            <td class="command">
              <a href="/job/{{ job.name }}">{{ job.config.command }}</a>
            </td>
            <td class="status">
              <a href="/job/{{ job.name }}">
                {% match job.status %}
                {% when JobStatus::Running { pid } %}
                <span class="status-text running">running</span>
                <span class="secondary">(pid {{ pid }})</span>
                {% when JobStatus::Waiting { next_run } %}
                <span class="status-text">not running</span>
                <span class="secondary">
                  (next run <span aria-label="{{ next_run | date }}" data-balloon-pos="down-right">{{ next_run | relative_date }}</span>)
                </span>
                {% when JobStatus::Completed %}
                <span class="status-text">not running</span>
                <span class="secondary">(next run never)</span>
                {% endmatch %}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
