<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chron | {{ job.name }}</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1 class="name">{{ job.name }}</h1>

    <table class="overview">
      <tr>
        <th scope="row">command</th>
        <td class="command">{{ job.command }}</td>
      </tr>
      {% if let Some(schedule) = job.schedule %}
      <tr>
        <th scope="row">schedule</th>
        <td class="schedule">{{ schedule }}</td>
      </tr>
      {% endif %}
      {% if let Some(working_dir) = job.working_dir %}
      <tr>
        <th scope="row">working dir</th>
        <td class="working-dir">{{ working_dir.to_string_lossy() }}</td>
      </tr>
      {% endif %}
      {% if let Some(next_run) = job.next_run %}
      <tr>
        <th scope="row">next run</th>
        <td class="next-run">{{ next_run }}</td>
      </tr>
      {% endif %}
      <tr>
        <th scope="row">PID</th>
        {% match job.status %}
        {% when ProcessStatus::Running { pid } %}
        <td class="status running">{{ pid }}</td>
        {% else %}
        <td class="status">not running</td>
        {% endmatch %}
      </tr>
      <tr>
        <th scope="row">logfile</th>
        <td class="logfile">
          <a href="/job/{{ job.name }}/logs">{{ job.log_path.to_string_lossy() }}</a>
        </td>
      </tr>
    </table>

    <h2>Runs</h2>
    <table class="primary">
      <thead>
        <tr>
          <th>Time</th>
          <th>Exit code</th>
        </tr>
      </thead>
      <tbody>
        {% for RunInfo { timestamp, status } in runs %}
        <tr>
          <td class="timestamp">
            {{timestamp}}
          </td>
          {% match status %}
          {% when RunStatus::Running %}
          <td class="status-code running">running</td>
          {% when RunStatus::Completed with { success, status_code } %}
          <td class="status-code {% if success %}success{% else %}failure{% endif %}">{{ status_code }}</td>
          {% when RunStatus::Terminated %}
          <td class="status-code failure">terminated</td>
          {% endmatch %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
